#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include "keys_en_gb_extended.h"

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1500  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp LESS_THAN                                                                                   &kp GREATER_THAN   &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8    &kp NUMBER_9  &kp NUMBER_0   &kp BACKSPACE
&kp TAB         &kp Q         &kp W         &kp E         &kp R         &kp T         &kp LEFT_BRACKET                                                                                &kp RIGHT_BRACKET  &kp Y         &kp U         &kp I           &kp O         &kp P          &kp BACKSLASH
&kp LCMD        &kp A         &kp S         &kp D         &kp F         &kp G         &kp LEFT_BRACE                      &kp LC(V)  &kp LG(C)        &none      &none                &kp RIGHT_BRACE    &kp H         &kp J         &kp K           &kp L         &kp SEMICOLON  &kp ENTER
&kp LEFT_SHIFT  &kp Z         &kp X         &kp C         &kp V         &kp B                                                        &kp SPACE        &mkp LCLK                                          &kp N         &kp M         &kp COMMA       &kp PERIOD    &kp SLASH      &kp RIGHT_SHIFT
&none           &none         &kp LCTRL     &kp LEFT_ALT  &none                                         &kp LEFT_COMMAND  &kp ENTER  &kp BACKSPACE    &mkp RCLK  &kp SPACE  &kp BSPC                                   &none         &kp DOWN_ARROW  &kp UP_ARROW  &none          &none
            >;
        };
    };
};
