#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#include "mouse.dtsi"

#define DEFAULT 0

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
              &kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp LESS_THAN             &kp GREATER_THAN   &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0   &kp MINUS
              &kp TAB         &kp Q         &kp W         &kp E         &kp R         &kp T         &kp LEFT_BRACKET          &kp RIGHT_BRACKET  &kp Y         &kp U         &kp I         &kp O         &kp P          &kp EQUAL
              &kp LCMD        &kp A         &kp S         &kp D         &kp F         &kp G         &kp LEFT_BRACE            &kp RIGHT_BRACE    &kp H         &kp J         &kp K         &kp L         &kp SEMICOLON  &kp SINGLE_QUOTE
              &kp LALT        &kp Z         &kp X         &kp C         &kp V         &kp B                                                      &kp N         &kp M         &kp COMMA     &kp PERIOD    &kp SLASH      &kp BACKSLASH
                                            &bt BT_CLR    &kp LALT                                                                                                           &kp LBKT      &bt BT_CLR 

                                                                                         &kp LEFT_SHIFT  &kp BACKSPACE                     &mkp RCLK
                                                                                           &kp SPACE     &kp LCMD                        &mkp LCLK
                                                                                           &kp ENTER     &kp LCTL             &kp LCMD  &kp ESCAPE
            >;
        };
    };
};
