if SHIELD_DACTYL_MANUFORM_5x7_LEFT

    config ZMK_KEYBOARD_NAME
        default "DactylL"

endif

if SHIELD_DACTYL_MANUFORM_5x7_RIGHT

    config ZMK_KEYBOARD_NAME
        default "DactylR"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

if SHIELD_DACTYL_MANUFORM_5x7_LEFT || SHIELD_DACTYL_MANUFORM_5x7_RIGHT

    config ZMK_SPLIT
        default y

endif
